@import 'vars.scss';
body {
  font-family: $font-family;
  background-color: #F2F6F9
}

.divider {
  width: 100%;
  height: 1px;
}

.custom-description {
  font-size: $desc-text;
}

.card {
  &-header {
    box-shadow: none;
  }
}

.field {
  .label {
    font-size: $label-text;
  }
  .checkbox {
    .control-label {
      font-size: $label-text;
      span {
        font-size: $desc-text;
      }
    }
  }
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
